<%= form_for @issue do |f| %>
    <%= f.label :name, "Issue Name" %> <br>
    <%= f.text_field :name %> <br> <br>
  </div>
  <div>
    <%= f.fields_for :options do |option| %>
      <%= option.label :name, "Option #{option.index + 1}" %> <br>
      <%= option.text_field :name, value: "", placeholder: "Enter an Option" %> <br> <br>
    <% end %>
    <%= f.label :quad, "Quad view?" %>
    <%= f.check_box :quad %> <br>
    <%= f.label :dual, "Dual view?" %>
    <%= f.check_box :dual %> <br>
    <%= f.label :private, "Make issue private? :" %>
    <%= f.check_box :private %> <br><br>
  </div>
  <br>
  <%= f.submit %>
<% end %>
