<h1> <%= @issue.name %> </h1> <br>
<ul>
  <% @options.each do |opt| %>
    <li><h3><%= opt.name %></li></h3> <br>
    Pros of Doing This Option
    <ul>
      <% opt.pros_doings.each do |pro| %>
        <li><%= pro.description %></li> <br>
      <% end %>
    </ul>
    Cons of Doing this Option
    <ul>
      <% opt.cons_doings.each do |con| %>
        <li><%= con.description %></li> <br>
    </ul>
    <% end %>
    <% if opt.quad == true %>
      Pros of Not Doing this Option
        <ul>
          <% opt.pros_not_doings.each do |pro| %>
            <li><%= pro.description %></li> <br>
        </ul>
      <% end %>
      Cons of Not Doing this Option
      <ul>
        <% opt.cons_not_doings.each do |con| %>
          <li><%= con.description %></li>
      </ul>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to "Edit Issue", edit_issue_path %>
<%= link_to "Delete Issue", issue_path, method: :delete %>
